body {
  font-family: "Roboto";
  margin: 0;
  height: 100vh;
  background: #1F2937;
  display: flex;
  flex-direction: column;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

p, a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 20px;
  margin: 50px;
  margin-bottom: 100px;
}

.right-hero, .left-hero {
  box-sizing: border-box;
  width: 450px;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  width: 125px;
  border-radius: 12px;
  border: none;
}

.info {
  padding-top: 50px;
  padding-bottom: 100px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 175px;
  padding: 20px;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.info-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin: 20px;
}

.qoute {
  padding: 100px;
  background: #E5E7EB;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.quote-text {
  padding-right: 125px;
  padding-left: 125px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  font-weight: bold;
}

.sign-up {
  background: white;
  padding: 100px;
}

.sign-up-box {
  padding: 25px;
  border-radius: 25px;
  color: white;
  background: #3882F6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.box-right {
  border: 2px solid white;
  border-radius: 10px;
}

.footer {
  font-size: 18px;
  color: white;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
